@charset "UTF-8";

@media screen and (max-width: 970px){

    body, html{
        overflow: auto;
        overflow-x: hidden;
    }

    main.conteiner{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-size: 0.76em;
    }

    main.conteiner > section#sobre{
        padding: 15px;
        width: 90%;
        margin-top: 10px;
    }

    main.conteiner > section#sobre > div#redes{
        flex-flow: row wrap;
    }

    main.conteiner > section#sobre > div#redes > a{
        margin-bottom: 5px;
    }

    main.conteiner > section#imagem{
        width: 229px;
        height: 229px;
        margin-top: 7px;
    }
    
    main.conteiner > section#imagem > img{
        width: 229px;
        height: 229px;
    }
}