@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box; 
}

body{
    overflow: hidden;
}

header{
    background-color: #1A2130;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
}

nav > ul > li{
    display: inline-block;
    color: white;
    padding: 20px;
    cursor: pointer;
}

nav > ul > li:hover{
    background-color: #342E46;
    text-decoration: underline;
}

main.conteiner{
    background-image: linear-gradient(to bottom, #1A2130, #342E46);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}

main.conteiner > section#sobre{
    padding: 15px;
    background-color: #342E46;
    border-radius: 20px;
    color: white ;
    width: 40%;
    text-align: justify;
    text-indent: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}

main.conteiner > section#sobre > h1{
    text-align: center;
    padding-bottom: 10px;
}

main.conteiner > section#sobre > h1 > span{
    color: lightblue;
}

main.conteiner > section#sobre > p{
    text-indent: 20px;
}

main.conteiner > section#sobre > div#redes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 1.5em;
    width: 100%;
}

main.conteiner > section#sobre > div#redes > a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

    padding: 5px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    background-color: #342E46;
    text-decoration: none;
}

main.conteiner > section#sobre > div#redes > a:hover{
    background-color: #1A2130;
}

main.conteiner > section#sobre > div#redes > a > img{
    width: 60px;
    height: 60px;
    padding-right: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}

main.conteiner > section#imagem{
    width: 400px;
    height: 400px;
    margin: 50px;
    border: 3px solid darkblue;
    border-radius: 20px;
}

main.conteiner > section#imagem > img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    transform: translate(-30px,30px);
}